{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.global.home'|trans}}{% endblock %}
{% block main_content %}
    <h2 class="pull-left">{{'kijho_mailer.global.welcome'|trans}}</h2>

    <ol class="col-lg-12 breadcrumb">
        <li class="active">{{'kijho_mailer.global.home'|trans}}</li>
    </ol>
    <div class="col-lg-12 jumbotron">
        <h2>{{'kijho_mailer.settings.email_settings'|trans}}</h2>
        <p>{{'kijho_mailer.global.home_message'|trans}}</p>
        <p><a class="btn btn-primary btn-lg" href="{{path('kijho_mailer_layout')}}" role="button">{{'kijho_mailer.layout.layouts'|trans}}</a>
           <a class="btn btn-primary btn-lg" href="#" role="button">{{'kijho_mailer.template.templates'|trans}}</a>
        </p>
    </div>
{% endblock %}
