{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.global.home'|trans}}{% endblock %}
{% block title_iframe %}{{'kijho_mailer.global.home'|trans}}{% endblock%}
{% block header_content %}
    <h2 class="pull-left">{{'kijho_mailer.global.welcome'|trans}}</h2>
{% endblock %}
{% block main_content %}
    <ol class="col-lg-12 breadcrumb">
        <li class="active">{{'kijho_mailer.global.home'|trans}}</li>
    </ol>
    
    {{ macros.showSuccessMessage('messageHomeSuccess')}}  
    
    <div class="col-lg-12 jumbotron">
        <h2>{{'kijho_mailer.settings.email_settings'|trans}}</h2>
        <p>{{'kijho_mailer.global.home_message'|trans}}</p>
        <p><a class="btn btn-primary btn-lg" href="{{path('kijho_mailer_layout')}}" role="button">{{'kijho_mailer.layout.layouts'|trans}}</a>
           <a class="btn btn-primary btn-lg" href="{{path('kijho_mailer_template_group')}}" role="button">{{'kijho_mailer.template_group.template_groups'|trans}}</a>
           <a class="btn btn-primary btn-lg" href="{{path('kijho_mailer_template')}}" role="button">{{'kijho_mailer.template.templates'|trans}}</a>
           <a class="btn btn-primary btn-lg" href="{{path('kijho_mailer_email_event')}}" role="button">{{'kijho_mailer.email_event.email_events'|trans}}</a>
           <a class="btn btn-primary btn-lg" href="{{path('kijho_mailer_settings_edit')}}" role="button">{{'kijho_mailer.setting.settings'|trans}}</a>
        </p>
    </div>
{% endblock %}
