<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{{'kijho_mailer.settings.email_settings'|trans}}{% endblock %}</title>     

        {% block head_style %}
            {% stylesheets filter='?yui_css,css_url_rewrite'
            '@KijhoMailerBundle/Resources/public/css/bootstrap.min.css'
            '@KijhoMailerBundle/Resources/public/css/bootstrap-theme.min.css'
            '@KijhoMailerBundle/Resources/public/css/style.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        {#<link rel="shortcut icon" href="{{ asset('bundles/frontend/images/ico/favicon.ico ')}}">#}

    </head><!--/head-->
    <body>
        {% import 'KijhoMailerBundle:Default:macros.html.twig' as macros  %}
        {% include 'KijhoMailerBundle:Default:menu.html.twig' %}
        <section class="container header">
            <input type="hidden" value="{% block title_iframe %}{% endblock%}" id="title"/>
            {% block header_content %}
            {% endblock %}
            <div class="alert alert-dismissable alert-success col-lg-12 flash-message" id="flash-message-success" style="display: none;">
                <button data-dismiss="alert" class="close" type="button">x</button>
                <span></span>
            </div>
            <div class="alert alert-dismissable alert-warning col-lg-12 flash-message" id="flash-message-warning" style="display: none;">
                <button data-dismiss="alert" class="close" type="button">x</button>
                <span></span>
            </div>
            <div class="alert alert-dismissable alert-danger col-lg-12 flash-message" id="flash-message-danger" style="display: none;">
                <button data-dismiss="alert" class="close" type="button">x</button>
                <span></span>
            </div>
        </section>

        <section class="container">
            {% block main_content %}
            {% endblock %}
        </section><!--/#about-us-->

        <section id="bottom" class="wet-asphalt">
            <div class="container">
                <div class="row"><!--/.col-md-3-->
                    {% block bottom_content %}
                    {% endblock %}
                </div>
            </div>
        </section><!--/#bottom-->


        {% block javascripts %}
            {% javascripts
            '@KijhoMailerBundle/Resources/public/js/jquery-2.1.4.min.js'
            '@KijhoMailerBundle/Resources/public/js/bootstrap.min.js'
            '@KijhoMailerBundle/Resources/public/js/bootbox.min.js'
            '@KijhoMailerBundle/Resources/public/js/utilities.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            
            <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/kijhomailer/js/js-webshim/minified/polyfiller.js') }}"></script>

            
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".alert-dismissable button").click(function () {
                        $(this).parent().slideUp();
                    });
                    
                    if (frameElement) {
                        var frameid = frameElement.id;
                        var url = window.location.pathname;
                        frameid = frameid.replace(/[^\d]/g, '');
                        window.parent.$('.content-tab-' + frameid).html($('#title').val());
                        window.parent.$('.content-tab-' + frameid).attr("frame-src", url);
                        window.parent.$('.refresh-' + frameid).attr("frame-src", url);
                    }
                    
                    webshims.polyfill();
                    {% block scripts %}
                    {% endblock %}
                });
            </script>
            
            <script type="text/javascript">
                function tynyMceToElement(element, height) {
                    tinymce.init({
                        selector: element,
                        height: height,
                        plugins: [
                            "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                            "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
                        ],
                        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
                        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
                        menubar: false,
                        toolbar_items_size: 'small',
                        style_formats: [{
                                title: 'Bold text',
                                inline: 'b'
                            }, {
                                title: 'Red text',
                                inline: 'span',
                                styles: {
                                    color: '#ff0000'
                                }
                            }, {
                                title: 'Red header',
                                block: 'h1',
                                styles: {
                                    color: '#ff0000'
                                }
                            }, {
                                title: 'Example 1',
                                inline: 'span',
                                classes: 'example1'
                            }, {
                                title: 'Example 2',
                                inline: 'span',
                                classes: 'example2'
                            }, {
                                title: 'Table styles'
                            }, {
                                title: 'Table row 1',
                                selector: 'tr',
                                classes: 'tablerow1'
                            }],
                        templates: [{
                                title: 'Test template 1',
                                content: 'Test 1'
                            }, {
                                title: 'Test template 2',
                                content: 'Test 2'
                            }],
                        content_css: [
                            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                            '//www.tinymce.com/css/codepen.min.css'
                        ]
                    });
                    
                }
            </script>
        {% endblock %}
    </body>
</html>