{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.setting.settings'|trans}}{% endblock %}
{% block title_iframe %}{{'kijho_mailer.setting.settings'|trans}}{% endblock%}
{% block header_content %}
    <h2 class="pull-left">{{'kijho_mailer.setting.settings'|trans}}</h2>
    <div class="btn-group pull-right top-margin" role="group" aria-label="...">
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">{{'kijho_mailer.global.back'|trans}}</a>
    </div>
{% endblock %}
{% block main_content %}
    <ol class="col-lg-12 breadcrumb">
        <li><a href="{{path('kijho_mailer_homepage')}}">{{'kijho_mailer.global.home'|trans}}</a></li>
        <li class="active">{{'kijho_mailer.setting.settings'|trans}}</li>
    </ol>  
        <div class="col-lg-12">
            <form role="form" action="{{path('kijho_mailer_settings_update')}}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
                <div class="col-md-4" style="padding-right: 30px;">
                    <div class="form-group">
                        {{ form_label(form.sendMode) }}
                        {{ form_widget(form.sendMode) }}
                        {{ form_errors(form.sendMode) }}
                    </div>
                    <div class="form-group email-amount" style="display: none;">
                        {{ form_label(form.limitEmailAmount) }}
                        {{ form_widget(form.limitEmailAmount) }}
                        {{ form_errors(form.limitEmailAmount) }}
                    </div>
                    <div class="form-group interval-send" style="display: none;">
                        {{ form_label(form.intervalToSend) }}
                        {{ form_widget(form.intervalToSend) }}
                        {{ form_errors(form.intervalToSend) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form._token) }} 
                        <button type="submit" class="btn btn-primary pull-right">{{'kijho_mailer.global.update'|trans}}</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>{{'kijho_mailer.setting.parameter'|trans}}</th>
                                    <th>{{'kijho_mailer.setting.value'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parameter,key in swiftMailerSettings %}
                                    <tr>
                                        <td {% if key is iterable %}colspan="2"{% endif %}>
                                            <label class="col-xs-6">{{parameter}}</label>
                                        </td>
                                        {% if key is not iterable %}
                                            <td>
                                                <span class="col-xs-6">{{key|raw|default(' ')}}</span>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% if key is iterable %}
                                        <tr>
                                            <td colspan="2">
                                                <table class="table table-striped">
                                                    {% for key2,parameter2 in key %}
                                                        <tr>
                                                            <td style="padding-left: 50px;">
                                                                <label class="col-xs-6">{{key2}}</label>
                                                            </td>
                                                            <td>
                                                                {% if parameter2 is not iterable %}
                                                                    <span class="col-xs-6">{{parameter2|raw|default(' ')}}</span>
                                                                {% else %}
                                                                    <span class="col-xs-6">&nbsp;</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}

{% block scripts %}
    /**
     * Codigo para validar la dinamica de los campos de acuerdo al modo de envio
     * seleccionado para los correos electronicos
     */
    $("#kijho_mailerbundle_settings_type_sendMode").change(function(){
        var object = $(this);
        var sendMode = object.val();
        
        if (sendMode == '' || sendMode == {{constant('Kijho\\MailerBundle\\Model\\Settings::SEND_MODE_INSTANTANEOUS')}}) {
            $(".email-amount").css('display','none');
            $("#kijho_mailerbundle_settings_type_limitEmailAmount").removeAttr('required');
            $(".interval-send").css('display','none');
            $("#kijho_mailerbundle_settings_type_intervalToSend").removeAttr('required');
        } else if (sendMode == {{constant('Kijho\\MailerBundle\\Model\\Settings::SEND_MODE_PERIODIC')}}) {
            $(".email-amount").css('display','none');
            $("#kijho_mailerbundle_settings_type_limitEmailAmount").removeAttr('required');
            $(".interval-send").css('display','');
            $("#kijho_mailerbundle_settings_type_intervalToSend").attr('required', 'required');
        } else if (sendMode == {{constant('Kijho\\MailerBundle\\Model\\Settings::SEND_MODE_BY_EMAIL_AMOUNT')}}) {
            $(".email-amount").css('display','');
            $("#kijho_mailerbundle_settings_type_limitEmailAmount").attr('required', 'required');
            $(".interval-send").css('display','none');
            $("#kijho_mailerbundle_settings_type_intervalToSend").removeAttr('required');
        }
    });
    $("#kijho_mailerbundle_settings_type_sendMode").trigger('change');
{% endblock %}