{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.layout.layouts'|trans}}{% endblock %}
{% block title_iframe %}{{'kijho_mailer.layout.layouts'|trans}}{% endblock%}
{% block header_content %}
    <h2 class="pull-left">{{'kijho_mailer.layout.layouts'|trans}}</h2>
    <div class="btn-group pull-right top-margin" role="group" aria-label="...">
        <a href="{{path('kijho_mailer_layout_new')}}" class="btn btn-default">{{'kijho_mailer.layout.new'|trans}}</a>
    </div>
{% endblock %}
{% block main_content %}

    <ol class="col-lg-12 breadcrumb">
        <li><a href="{{path('kijho_mailer_homepage')}}">{{'kijho_mailer.global.home'|trans}}</a></li>
        <li class="active">{{ 'kijho_mailer.layout.layouts'|trans }}</li>
    </ol>

    {{ macros.showSuccessMessage('messageSuccessLayout')}}  

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{'kijho_mailer.global.name'|trans}}</th>
                <th>{{'kijho_mailer.global.creation_date'|trans}}</th>
                <th>{{'kijho_mailer.global.options'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for layout in layouts %}
                <tr>
                    <td>{{layout.name}}</td>
                    <td>{{layout.creationDate|date('m/d/Y')}}</td>
                    <td>
                        <a class="btn btn-default btn-sm" title="{{'kijho_mailer.global.preview'|trans}}" href='{{path('kijho_mailer_layout_preview',{'layoutId':layout.id})}}'><i class="fa fa-eye fa-lg"></i></a>
                        &nbsp;<a class="btn btn-default btn-sm" title="{{'kijho_mailer.global.edit'|trans}}" href='{{path('kijho_mailer_layout_edit',{'layoutId':layout.id})}}'><i class="fa fa-pencil fa-lg"></i></a>
                            {%if layout.isDefault != true %}
                            &nbsp;<a class="btn btn-default btn-sm delete-layout" title="{{'kijho_mailer.global.delete'|trans}}" href='javascript:' layout-id="{{layout.id}}"><i class="fa fa-close fa-lg"></i></a>
                            {%endif%}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{'kijho_mailer.layout.empty_list'|trans}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}    
        /** 
         * Codigo para la eliminacion de layouts mediante ajax 
         */
        $(".delete-layout").click(function () {
            var object = $(this);
            var layoutId = object.attr('layout-id');

            bootbox.confirm('{{'kijho_mailer.layout.delete_question'|trans}}', function (result) {

                if (result == true)
                {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('kijho_mailer_layout_delete')}}",
                        dataType: 'json',
                        data: 'layoutId=' + layoutId,
                        success: function (resp) {
                            if (resp.result == '__OK__') {
                                object.parent().parent().remove();
                            } else {
                                showFlashErrorMessage(resp.msg, false, 0);
                            }
                        },
                        error: function () {
                            showFlashErrorMessage("{{'kijho_mailer.global.unknown_error'|trans}}", false, 0);
                        }
                    });
                }
            });
        });
    {% endblock %}
