{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}Layouts{% endblock %}
{% block main_content %}
    <h2 class="pull-left">Layouts</h2>
    <div class="btn-group pull-right top-margin" role="group" aria-label="...">
        <a href="{{path('kijho_mailer_layout_new')}}" class="btn btn-default">New Layout</a>
    </div>
    <ol class="col-lg-12 breadcrumb">
        <li><a href="{{path('kijho_mailer_homepage')}}">Home</a></li>
        <li class="active">Layouts</li>
    </ol>
        
    {{ macros.showSuccessMessage('messageSuccessLayout')}}  
        
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Language</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for layout in layouts %}
                <tr>
                    <td>{{layout.name}}</td>
                    <td>{{layout.creationDate|date('m/d/Y')}}</td>
                    <td>{{layout.languageCode}}</td>
                    <td><a href='#'>Show</a>
                        &nbsp;<a href='{{path('kijho_mailer_layout_edit',{'layoutId':layout.id})}}' title="Edit"><i class="fa fa-pencil fa-lg">Edit</i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No layouts.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
