{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.layout.preview'|trans}}{% endblock %}
{% block title_iframe %}{{'kijho_mailer.layout.preview'|trans}}{% endblock%}
{% block header_content %}
    <h2 class="pull-left">{{'kijho_mailer.layout.preview'|trans}}</h2>
    <div class="btn-group pull-right top-margin" role="group" aria-label="...">
        
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">{{'kijho_mailer.global.back'|trans}}</a>
    </div>
{% endblock %}
{% block main_content %}
    <ol class="col-lg-12 breadcrumb">
        <li><a href="{{path('kijho_mailer_homepage')}}">{{'kijho_mailer.global.home'|trans}}</a></li>
        <li><a href="{{path('kijho_mailer_layout')}}">{{'kijho_mailer.layout.layouts'|trans}}</a></li>
        <li class="active">{{'kijho_mailer.layout.preview'|trans}}</li>
    </ol>
        
        <div class="col-lg-12">
                <div class="col-md-2">
                    <strong>{{'kijho_mailer.layout.header'|trans}}</strong>
                </div>
                <div class="col-md-10 content-header">
                    <div class="form-group">
                        {{ layout.header | raw }}
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>{{'kijho_mailer.layout.content'|trans}}</strong>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <i>{{'kijho_mailer.layout.content_help'|trans}}</i>
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>{{'kijho_mailer.layout.footer'|trans}}</strong>
                </div>
                <div class="col-md-10 content-footer">
                    <div class="form-group">
                        {{ layout.footer | raw }}
                    </div>
                </div>
                </div>
        </div>
{% endblock %}