{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.template.edit'|trans}}{% endblock %}
{% block title_iframe %}{{'kijho_mailer.template.edit'|trans}}{% endblock%}
{% block header_content %}
    <h2 class="pull-left">{{'kijho_mailer.template.edit'|trans}}</h2>
    <div class="btn-group pull-right top-margin" role="group" aria-label="...">
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">{{'kijho_mailer.global.back'|trans}}</a>
    </div>
{% endblock %}
{% block main_content %}
    <ol class="col-lg-12 breadcrumb">
        <li><a href="{{path('kijho_mailer_homepage')}}">{{'kijho_mailer.global.home'|trans}}</a></li>
        <li><a href="{{path('kijho_mailer_template')}}">{{'kijho_mailer.template.templates'|trans}}</a></li>
        <li class="active">{{'kijho_mailer.template.edit'|trans}}</li>
    </ol>

    <div class="col-lg-12">
        <form role="form" action="{{path('kijho_mailer_template_update',{'templateId':template.id})}}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug) }}
                    {{ form_errors(form.slug) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.languageCode) }}
                    {{ form_widget(form.languageCode) }}
                    {{ form_errors(form.languageCode) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.layout) }}
                    {{ form_widget(form.layout) }}
                    {{ form_errors(form.layout) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.group) }}
                    {{ form_widget(form.group) }}
                    {{ form_errors(form.group) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.fromName) }}
                    {{ form_widget(form.fromName) }}
                    {{ form_errors(form.fromName) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.fromMail) }}
                    {{ form_widget(form.fromMail) }}
                    {{ form_errors(form.fromMail) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.copyTo) }}
                    {{ form_widget(form.copyTo) }}
                    {{ form_errors(form.copyTo) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.mailerSettings) }}
                    {{ form_widget(form.mailerSettings) }}
                    {{ form_errors(form.mailerSettings) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.status) }}
                    {{ form_widget(form.status) }}
                    {{ form_errors(form.status) }}
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 30px;">
                <div class="form-group">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject) }}
                    {{ form_errors(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.contentMessage) }}
                    {{ form_widget(form.contentMessage, {'attr':{'style':'height:250px;'}}) }}
                    <p class="help-block">{{'kijho_mailer.template.content_help'|trans}}</p>
                    {{ form_errors(form.contentMessage) }}
                </div>
                <div class="form-group">
                    <legend>{{'kijho_mailer.template.entity_attributes'|trans}}</legend>
                    <div class="form-group col-xs-6">
                        {{ form_label(form.entityName) }}
                        {{ form_widget(form.entityName) }}
                        {{ form_errors(form.entityName) }}
                    </div>
                    <div class="form-group col-xs-6" style="padding-left: 30px;">
                        <label>{{'kijho_mailer.template.select_attributes'|trans}}</label>
                        {% set instances = entities.instances %}
                        {% set relationships = entities.relationships %}

                        {% for entity in instances %} 
                            <div id="{{entity.getName()}}" class="attr-group" style="display: none;">
                                {% for property in entity.getProperties() %}
                                    <p>
                                        <a class="attribute-name" href="javascript:" attr-name="entity.{{property.getName()}}">{{property.getName()}}</a>
                                        {% if relationships[entity.getName()] is defined and relationships[entity.getName()][property.getName()] is defined %}
                                            {% set otherProperties = relationships[entity.getName()][property.getName()].getProperties() %}
                                            {% for otherProperty in otherProperties %}
                                            <p style="padding-left: 30px;">
                                                <a class="attribute-name" href="javascript:" attr-name="entity.{{property.getName()}}.{{otherProperty.getName()}}">{{property.getName()}}.{{otherProperty.getName()}}</a>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                    </p>

                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_widget(form._token) }} 
                    <button type="submit" class="btn btn-primary pull-right">{{'kijho_mailer.global.update'|trans}}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
        /**
         * Codigo para desplegar los atributos de la entidad seleccionada en pantalla
         */
        $("#kijho_mailerbundle_template_type_entityName").change(function () {
            var entityName = $(this).val();
            $('.attr-group').css('display', 'none');

            var element = document.getElementById(entityName);
            if (element != null) {
                element.style.display = 'block';
            }
        });
        $("#kijho_mailerbundle_template_type_entityName").trigger('change');

        /**
         * Codigo para añadir variables al contenido del template
         */
        $('.attribute-name').click(function () {
            var object = $(this);
            var attribute = object.attr('attr-name');
            attribute = "{" + "{" + attribute + "}" + "}";
            $('.form-group iframe').contents().find('body').append(attribute)
        });


        tynyMceToElement('textarea', 300);

    {% endblock %}