{% extends 'KijhoMailerBundle:Default:main.html.twig' %}
{% block title %}{{'kijho_mailer.template.templates'|trans}}{% endblock %}
{% block title_iframe %}{{'kijho_mailer.template.templates'|trans}}{% endblock%}
{% block header_content %}
    <h2 class="pull-left">{{'kijho_mailer.template.templates'|trans}}</h2>
    <div class="btn-group pull-right top-margin" role="group" aria-label="...">
        <a href="{{path('kijho_mailer_template_new')}}" class="btn btn-default">{{'kijho_mailer.template.new'|trans}}</a>
    </div>
{% endblock %}
{% block main_content %}
    <ol class="col-lg-12 breadcrumb">
        <li><a href="{{path('kijho_mailer_homepage')}}">{{'kijho_mailer.global.home'|trans}}</a></li>
        <li class="active">{{ 'kijho_mailer.template.templates'|trans }}</li>
    </ol>

    {{ macros.showSuccessMessage('messageSuccessTemplate')}}  

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{'kijho_mailer.global.name'|trans}}</th>
                <th>{{'kijho_mailer.global.language'|trans}}</th>
                <th>{{'kijho_mailer.global.slug'|trans}}</th>
                <th>{{'kijho_mailer.global.creation_date'|trans}}</th>
                <th>{{'kijho_mailer.template.layout'|trans}}</th>
                <th>{{'kijho_mailer.template.group'|trans}}</th>
                <th>{{'kijho_mailer.template.status'|trans}}</th>
                <th>{{'kijho_mailer.global.options'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
                <tr>
                    <td>{{template.name}}</td>
                    <td>{{template.languageCode}}</td>
                    <td>{{template.slug}}</td>
                    <td>{{template.creationDate|date('m/d/Y')}}</td>
                    <td>
                        {% if template.layout is not empty %}
                            <a href="{{path('kijho_mailer_layout_preview',{'layoutId':template.layout.id})}}">{{ template.layout }}</a>
                        {% else %}
                            {{'kijho_mailer.template.no_layout'|trans}}
                        {% endif %}
                    </td>
                    <td>
                        {% if template.group is not empty %}
                            {{ template.group }}<br>
                            {#<strong>{{'kijho_mailer.global.slug'|trans}}</strong>: {{ template.group.slug }}#}
                        {% else %}
                            <p class="help-block">{{'kijho_mailer.template.no_group'|trans}}</p>
                        {% endif %}
                    </td>
                    <td>{{ template.getStatusDescription()|trans}}</td>
                    <td>
                        <a class="btn btn-default btn-sm" title="{{'kijho_mailer.global.preview'|trans}}" href='{{path('kijho_mailer_template_preview',{'templateId':template.id})}}'><i class="fa fa-eye fa-lg"></i></a>
                        &nbsp;<a class="btn btn-default btn-sm" title="{{'kijho_mailer.global.edit'|trans}}" href='{{path('kijho_mailer_template_edit',{'templateId':template.id})}}'><i class="fa fa-pencil fa-lg"></i></a>
                        &nbsp;<a class="btn btn-default btn-sm" title="{{'kijho_mailer.template.duplicate'|trans}}" href='{{path('kijho_mailer_template_new',{'templateId':template.id})}}'><i class="fa fa-copy fa-lg"></i></a>
                        &nbsp;<a class="btn btn-default btn-sm example-email" title="{{'kijho_mailer.template.send_example_email'|trans}}" href='javascript:' template-id="{{template.id}}"><i class="fa fa-send fa-lg"></i></a>
                            {%if template.isDefault != true %}
                            &nbsp;<a class="btn btn-default btn-sm delete-template" title="{{'kijho_mailer.global.delete'|trans}}" href='javascript:' template-id="{{template.id}}"><i class="fa fa-close fa-lg"></i></a>
                            {%endif%}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">{{'kijho_mailer.template.empty_list'|trans}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}    
        /** 
         * Codigo para la eliminacion de templates mediante ajax 
         */
        $(".delete-template").click(function () {
            var object = $(this);
            var templateId = object.attr('template-id');

            bootbox.confirm('{{'kijho_mailer.template.delete_question'|trans}}', function (result) {

                if (result == true)
                {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('kijho_mailer_template_delete')}}",
                        dataType: 'json',
                        data: 'templateId=' + templateId,
                        success: function (resp) {
                            console.log(resp);
                            if (resp.result == '__OK__') {
                                object.parent().parent().remove();
                            } else {
                                showFlashErrorMessage(resp.msg, false, 0);
                            }
                        },
                        error: function () {
                            showFlashErrorMessage("{{'kijho_mailer.global.unknown_error'|trans}}", false, 0);
                        }
                    });
                }
            });
        });


        /**
         * Codigo para enviar correos de prueba de un template especifico
         */
        $(".example-email").click(function () {
            var templateId = $(this).attr('template-id');
            bootbox.prompt({
                title: "{{'kijho_mailer.template.send_example_email'|trans}}",
                placeholder: "{{'kijho_mailer.global.email_examples'|trans}}",
                buttons: {
                    confirm: {
                        label: "{{'kijho_mailer.global.send'|trans}}"
                    },
                    cancel: {
                        label: "{{'kijho_mailer.global.cancel'|trans}}"
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('kijho_mailer_template_send_example_email')}}",
                            dataType: 'json',
                            data: "templateId=" + templateId + "&email=" + result,
                            success: function (resp)
                            {
                                if (resp.result == '__OK__') {
                                    showFlashSuccessMessage(resp.msg, true, 4000);
                                } else {
                                    showFlashErrorMessage(resp.msg, false, 0);
                                }
                            },
                            error: function () {
                                showFlashErrorMessage("{{'kijho_mailer.global.unknown_error'|trans}}", false, 0);
                            }
                        });
                    } else if (result === "") {
                        $(".bootbox-input-text").focus();
                        return false;
                    }
                }
            });
        });
    {% endblock %}
